<h2>All Heroines</h2>

<%#= form_for @power do |f|%>
  <%#= f.label :powers%>
  <%#= f.collection_select(:power_id, @powers, :id, :name) %>
  <%#= f.submit %>

<%#end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.name, heroine %>
      <%# heroine.super_name %>
    </li>
    <br>
  <% end %>
</ul>
