<h1>Heroine show page</h1>

<ul>

<li> Name: <%= @heroine.name %> </li>
  <li>  Power:  <%= link_to @heroine.power.name, @heroine.power %></li>
    <li>Power Description: <%= @heroine.power.description %></li>
</ul>
